@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="flex flex-col w-full  overflow-hidden relative min-h-screen radial-gradient items-center justify-center g-0 px-4">

    <div class="justify-center items-center w-full card lg:flex max-w-md ">
        <div class=" w-full card-body">
            <a href="../" class="py-4 block"><img src="~/images/logos/logo-light.svg" alt="" class="mx-auto" /></a>
            <h1 class="text-center">@ViewData["Title"]</h1>
            <!-- form -->
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <!-- Email -->
                <div class="mb-4">
                    <label asp-for="Input.Email" 
                           class="block text-sm  mb-2 text-gray-400">Email Address</label>
                    <input asp-for="Input.Email" aria-required="true" placeholder="name@example.com"  type="email" 
                           class="form-control py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 " aria-describedby="hs-input-helper-text">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <!-- username -->
                <div class="mb-4">
                    <label asp-for="Input.UserName"
                           class="block text-sm  mb-2 text-gray-400"> User Name</label>
                    <input asp-for="Input.UserName" autocomplete="username" aria-required="true" placeholder="Doe47" type="text"
                           class=" form-control py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 " aria-describedby="hs-input-helper-text">
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <label asp-for="Input.FirstName"
                           class="block text-sm  mb-2 text-gray-400">First Name</label>
                    <input asp-for="Input.FirstName" aria-required="true" placeholder="John" type="text"
                           class="form-control py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 " aria-describedby="hs-input-helper-text">
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                
                <div class="mb-4">
                    <label asp-for="Input.LastName"
                           class="block text-sm  mb-2 text-gray-400">Last Name</label>
                    <input asp-for="Input.LastName" aria-required="true" placeholder="Doe" type="text"
                           class="form-control py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 " aria-describedby="hs-input-helper-text">
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                
                <div class="mb-4">
                    <label asp-for="Input.DateOfBirth"
                           class="block text-sm  mb-2 text-gray-400">Date of Birth</label>
                    <input asp-for="Input.DateOfBirth" aria-required="true" placeholder="12.31.1900"
                           class="form-control py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 " aria-describedby="hs-input-helper-text">
                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                </div>
                <!-- password -->
                <div class="mb-4">
                    <label asp-for="Input.Password"
                           class="block text-sm  mb-2 text-gray-400">Password</label>
                    <input type="password" asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="password"
                           class="form-control py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 " aria-describedby="hs-input-helper-text">
               
                </div>
                
                <div class="mb-4">
                    <label asp-for="Input.ConfirmPassword"
                           class="block text-sm  mb-2 text-gray-400"> Confirm Password</label>
                    <input type="password" asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="password"
                           class="form-control py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 " aria-describedby="hs-input-helper-text">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    @foreach (var role in Model.RoleNames)
                    {
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="radio" asp-for="Input.RoleName" value="@role" />
                            <label class="form-check-label" asp-for="Input.RoleName">@role</label>
                        </div>
                    }
                    <span asp-validation-for="Input.RoleName" class="text-danger"></span>
                </div>
                <!-- button -->
                <div class="grid my-6">
                    <button id="registerSubmit" type="submit" class="btn py-[10px] text-base text-white font-medium hover:bg-blue-700">Sign Up</button>
                </div>

                <div class="flex justify-center gap-2 items-center">
                    <p class="text-base font-semibold text-gray-400">Already have an Account?</p>
                    <a asp-page="./Login" class="text-sm font-semibold text-blue-600 hover:text-blue-700">Log In</a>
                </div>
            </form>
        </div>
    </div>
</div>

@* <div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Doe47" />
                <label asp-for="Input.UserName">User Name</label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="John" />
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Doe" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.DateOfBirth" class="form-control" aria-required="true" placeholder="01.01.1900" />
                <label asp-for="Input.DateOfBirth">Date of Birth</label>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                @foreach (var role in Model.RoleNames)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Input.RoleName" value="@role" />
                        <label class="form-check-label" asp-for="Input.RoleName">@role</label>
                    </div>
                }
                <span asp-validation-for="Input.RoleName" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                }
                else
                {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                                </p>
                            </div>
                        </form>
                }
            }
        </section>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    `<script>
        $(function () {
            $("#Input.DateOfBirth").datepicker({
                dateFormat: 'yyyy-mm-dd',
                changeMonth: 'true',
                changeYear: 'true',
            });
        });
    </script>
}

